body > .site > div {
    -webkit-backface-visibility:hidden;
}
.loading * {
	transition: none !important;
	-moz-transition: none !important;
	-webkit-transition: none !important;
	-o-transition: none !important;
}

body, site {
    background-color: white;
    background-attachment: scroll;
    overflow-y: scroll;
    font-size: 20px;
}

* {
    box-sizing: border-box;
}
.column {
    float: left;
    width: 50%;
    padding: 10px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}

p {
    text-align: justify;
    text-justify: inter-word;
}

blockquote{
  font-size: 1.0em;
  width:60%;
  margin:50px auto;
  font-style:italic;
  color: #555555;
  padding:1.2em 30px 1.2em 75px;
  border-left:8px solid #78C0A8 ;
  line-height:1.6;
  position: relative;
  background:#EDEDED;
}

blockquote::before{
  font-family:Arial;
  content: '';
  color:#78C0A8;
  font-size:4em;
  position: absolute;
  left: 10px;
  top:-10px;
}

blockquote::after{
  content: '';
}

blockquote span{
  display:block;
  color:#333333;
  font-style: normal;
  font-weight: bold;
  margin-top:1em;
}

a {
    text-decoration: none;
    text-shadow: none;
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    color:blueviolet;
}
a:visited, a:active {
    color:blueviolet;
    text-shadow: 1px 1px 10px #eee;
}
a:hover, .glow {
    color: #ff0;
    text-shadow: 0 0 9px #000;
}

button {
	background-color: Transparent;
	background-repeat: no-repeat;
	font-size: 20px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
button:visited, button:active {
	color:blueviolet;
	text-shadow: 1px 1px 10px #ff0;
}
button:hover, .glow {
	color: blueviolet;
	text-shadow: 0 0 13px #000;
}

/* img {
  display: block;
  margin-left: auto;
  margin-right: auto;
} */

.navside {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    overflow-x: hidden;
    padding-top: 20px;
}
.navside button {
    float: left;
    padding: 0;
    text-decoration: none;
    width: 100%;
    font-size: 25px;
    background-color: black; 
    border: none;
    outline: none;
    cursor: pointer;
    color: whitesmoke;
    display: block;
}
.navside button:hover {
    background: whitesmoke;
    color: black;
}
.navside button.active {
    background: whitesmoke;
    color: black;
}

.site {
    position: absolute;
    margin-left: 200px;
    margin-right: 200px;
    border: 1px solid #111;
	background: whitesmoke;
	padding: 15px;
	border-radius: 25px;

	-webkit-box-shadow: 20px 20px 40px #111;
	-moz-box-shadow: 20px 24px 40px #111;
	-o-box-shadow: 20px 20px 40px #111;
	box-shadow: 20px 20px 40px #111;
    /* pointer-events:none; */
}

#sidefoot {
	opacity:0.4;
	filter: alpha(opacity=40); 
	color:black;
	z-index:-100;
	padding:10px;
	position:fixed;
	top:100%;
	right:0;
	text-align:right;
	transform-origin: top right;
	-moz-transform-origin: top right;
	-webkit-transform-origin: top right;
	-o-transform-origin: top right;
	transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transition: all 0.5s;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
}

@media screen and (max-height: 450px) {
    .navside {padding-top: 15px;}
    .navside a {font-size: 18px;}
}
